.App{
  background: linear-gradient(90deg, #141E30 0%, #243B55 100%);
  font-family: 'Poppins', sans-serif;
}

.flex{
  display: flex;
}

@media all and (max-width: 1290px) {
  .flex{
    flex-direction: column;
  }
}
