*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

body {
  background: linear-gradient(269.74deg, rgba(255, 255, 255, 0.21) -254.09%, rgba(255, 255, 255, 0) 99.84%);  
    margin: 0;
    padding: 0;
}